# Binaries
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# WASM build artifacts
*build/
*main.wasm
*wasm_exec.js
*webcraft

# Python http.server cache
__pycache__/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Go build cache
go.sum
