# Binaries
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# WASM build artifacts
wasm/main.wasm
wasm/wasm_exec.js

# Python http.server cache
__pycache__/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Go build cache
go.sum
